.heading{
    color: wheat;
    text-align: center;
    background-color: brown;
    
    
}
h1{
    font-size: 60px;
}
.content{
    background-color: black;
    width: 500px;
    height: 300px    ;
    float: left;
    color: aliceblue;
    
}
.collection{
    width: 300px;
    width: 340px;
	float: left;
	background: #FFF;
	padding: 15px;
    float: right;
	
}
.img{
    width: 100px;
}